.main {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.columns {
    display: flex;
    flex-direction: row;
    gap: 36px;
}

.normal {
    color: #FFFFFF;
}

.success {
    color: #00CCCC;
}