.centerWrap {
    position: relative;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle {
    composes: centerWrap;
    overflow: hidden;
    background-size: cover;
    width: 64px;
    height: 64px;
    border-radius: 100px;
}

.overlap {
    margin-right: -16px;
}

.img {
    composes: centered;
    border-radius: 100px;
    max-width: 110px;
}

.text {
    composes: centered;
    width: 64px;
    text-align: center;
    line-height: 64px;
    height: 64px;
}
