.main {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.list {
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    gap: 16px;
}

.info {
    display: flex;
    flex-direction: column;
}