.content {
    margin-left: 24px;
    display: flex;
    gap: 60px;
    height: 100%;
}

.col_left {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 320px;
}

.col_right {
    flex: 1;
    height: 100%;
}

.links a, .links span {
    height: 64px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.link {
    cursor: pointer;
}

.link_profile {
    text-decoration: none;
    color: #4C4CFF;
}

.active {
    color: #FFFFFF;
}

