.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 24px;
    width: 860px;
}

.col_left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.col_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
}

.links a, .links span {
    height: 64px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.link_profile {
    text-decoration: none;
    color: #4C4CFF;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 28px;
}