.main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);
}

.window {
    width: 720px;
    box-sizing: border-box;
    border-radius: 40px;
    background: #1C1C21;
    overflow: hidden;
}