.main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
}


.buttons {
    display: flex;
    align-items: center;
    gap: 28px;
}

.hidden {
    visibility: hidden;
}