.main {
    margin-left: 68px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 28px;
}

.hidden {
    visibility: hidden;
}