.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image_wrapper {
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nutrition {
    display: flex;
    gap: 20px;
}