.App {
  margin: 0 auto;
  max-width: 1280px;
}

.row {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.col {
  flex: 50%;
  height: 200px;
}

.col_left {
  composes: col;
  margin-top: 40px;
  margin-right: 40px;
}

.col_right {
  composes: col;
  margin-top: 100px;
}