body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body, #root, #root > div {
    height: 100%;
    overflow: hidden; /* fix iOS drag scrolling*/
}
