body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body, #root, #root > div {
    height: 100%;
    overflow: hidden; /* fix iOS drag scrolling*/
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #2F2F37;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #8585AD;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9494d2;
}