.main {
    height: 228px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 12px;
}
.rowPart {
    display: flex;
    align-items: center;
}
